<div id="app-chatroom-container">
    <div id="app-chatroom-subcontainer">
        <div id="app-chatroom-room">
            <div id="app-chatroom-room-conversation" #chatContainer>
                <div class="app-chatroom-message-container-system">
                    <div class="app-chatroom-message">
                        Looking for someone to chat ......
                    </div>
                </div>

                @for (message of messages(); track message.messageID) {
                    @if (message.uidFrom === coreService.uid()) {
                        <!-- Sent messages -->
                        <div class="app-chatroom-message-container-sent">
                            <div class="app-chatroom-message">
                                {{message.text}}
                            </div>
                            <div class="app-chatroom-message-time">
                                {{message.HMDateStr}}
                            </div>
                        </div>
                    } @else if (message.uidFrom.length === 0) {
                        <!-- System messages -->
                        <div class="app-chatroom-message-container-system">
                            <div class="app-chatroom-message">
                                {{message.text}}
                            </div>
                        </div>
                    } @else {
                        <!-- Received messages -->
                        <div class="app-chatroom-message-container-received">
                            <div class="app-chatroom-message">
                                {{message.text}}
                            </div>
                            <div class="app-chatroom-message-time">
                                {{message.HMDateStr}}
                            </div>
                        </div>
                    }
                }
            </div>
        </div>
        <div id="app-chatroom-bottom-container">
            <button id="app-chatroom-exit-button" (click)="openExitDialog()">Exit</button>
            <div id="app-chatroom-input-box">
                <input 
                    placeholder="Type a message" 
                    [(ngModel)]="inputMessage"
                    (keydown.enter)="onSendMessage()"
                    disabled={{isInputDisabled()}}
                />
                <button id="app-chatroom-send-button"(click)="onSendMessage()"><mat-icon id="app-chatroom-send-icon">send</mat-icon></button>
            </div>
        </div>
    </div>
</div>
