<div id="app-chatroom-container">
    <div id="app-chatroom-subcontainer">
        <div id="app-chatroom-room">
            <div id="app-chatroom-room-conversation" #chatContainer>
                <div class="app-chatroom-message-container-system">
                    <div class="app-chatroom-message">
                        Find Someone to chat ...
                    </div>
                </div>

                <div class="app-chatroom-message-container-system">
                    <div class="app-chatroom-message">
                        Connection Established !!
                    </div>
                </div>
                <div class="app-chatroom-message-container-system">
                    <div class="app-chatroom-message">
                        {{coreService.todayDate()}}
                    </div>
                </div>

                @for (message of messages(); track message.messageID) {
                    @if (message.uidFrom === coreService.uid()) {
                        <div class="app-chatroom-message-container-sent">
                            <div class="app-chatroom-message">
                                {{message.text}}
                            </div>
                            <div class="app-chatroom-message-time">
                                {{message.HMDateStr}}
                            </div>
                        </div>
 
                    } @else {
                        <div class="app-chatroom-message-container-received">
                            <div class="app-chatroom-message">
                                {{message.text}}
                            </div>
                            <div class="app-chatroom-message-time">
                                {{message.HMDateStr}}
                            </div>
                        </div>
                    }
                }
            </div>
        </div>
        <div id="app-chatroom-input-box">
            <input 
                placeholder="Type a message" 
                [(ngModel)]="inputMessage"
                (keydown.enter)="onSendMessage()"
            />
            <button (click)="onSendMessage()"><mat-icon id="app-chatroom-send-icon">send</mat-icon></button>
        </div>
    </div>
</div>
